// Animación gráfico


@keyframes opacidad {
    0% {
      opacity: 0;
      }
    20% {
      opacity: .3;
      }
    40% {
      opacity: .5;
      }
    60% {
      opacity: .7;
      }
    80% {
      opacity: 1;
      }
    100% {
    opacity: .3;
        }
    }

  